* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.txt-primary {
    color: #E55473;
}

.header {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    margin: 0 auto;
}

.flower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}


.flower-title {
    display: flex;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 800px;
    padding-bottom: 24px;

}

.flower-description {
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 43px;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.flower .profile-pic {
    width: 635px;
    padding-top: 50px;
}

.featured-section {
    background: #FFF;
}

.featured-container {
    text-align: center;
    margin-top: 150px;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 48px;
}

.product {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.product-one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.product-two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-left: 20px;

}

.product-three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

.product-heading {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    padding-top: 32px;
}

.support-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.support-container {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 146px;
    gap: 100px;
}

.support-info {
    text-align: center;
    padding-bottom: 24px;
}

.support-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 700;
    padding-top: 20px;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    margin: 0 auto;
}

.hot-deal-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 100px;
}

.hot-deal-info {
    text-align: center;
    padding-top: 100px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}

.showroom {

    margin-top: 150px;
}

.showroom-about {
    background: rgba(71, 125, 17, 0.15);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1922px;
    height: 600px;
    margin: 0 auto;
}

.showroom-title {
    text-align: center;
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 800;
}

.showroom-description {
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    padding-bottom: 30px;
}

.showroom-info {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.showroom-place {
    padding-top: 20px;
    padding-bottom: 10px;
}

.showroom-info img {
    width: 400px;
    height: 300px;
    border-radius: 8px;
}

.instagram {
    background: #FFF;
}

.instragram-container {
    text-align: center;
    margin-top: 150px;
}

.Instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.Instagram-description {
    padding-bottom: 48px;
}

.flower-image {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.deals {
    border-radius: 8px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 150px;
    margin-bottom: 150px;
}

.deals-content {
    text-align: center;
    padding-bottom: 120px;
}

.deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 16px;
}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 50px;
}

.deals-info {
    gap: 20px;
    display: flex;
    justify-content: center;
}

.deals-bag {
    padding: 22px 250px;
    border-radius: 8px;
    border-color: #FFF;
    border: 0px;
}

#my-input::placeholder {
    left: -220px;
    position: relative;
}


.footer-section {
    background-color: #111010;
    text-align: center;
    padding-bottom: 150px;
    width: 1922px;
    height: 449px;
    margin: 0 auto;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    padding-top: 150px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 32px;
}

.footer-end {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}